{% extends '::base.html.twig' %}

{% block title %}
    <title>Прокат автомобилей во Владимире</title>
{% endblock %}

{% block meta %}
    <meta name="keywords" content="автомобиль напрокат во владимире,
                                    прокат автомобилей во владимире,
                                    аренда автомобиля во Владимире по низким ценам">
    <meta name="description" content="Прокат автомобилей во Владимире. У нас вы можете взять в аренду автомобили любого класса по низким ценам.">
{% endblock %}

{% block middle_bar %}
<h1>Прокат автомобилей во Владимире</h1>
{% endblock %}