{% extends '::base.html.twig' %}

{% block title %}
    <title>Прокат автомобилей без водителя во Владимире</title>
{% endblock %}

{% block meta %}
<meta name="keywords" content="автомобиль напрокат без водителя во владимире,
                                    прокат автомобилей без водителя во владимире,
                                    аренда автомобиля без водителя во Владимире по низким ценам">
<meta name="description" content="Прокат автомобилей без водителя во Владимире. У нас вы можете взять в аренду автомобили без водителя любого класса по низким ценам.">
{% endblock %}