{% extends '::base.html.twig' %}

{% block title %}
<title>Автомобили на свадьбу во Владимире</title>
{% endblock %}

{% block meta %}
<meta name="keywords" content="автомобиль на свадьбу недорого во Владимире,
                                прокат автомобилей на свадьбу во Владимире,
                                аренда автомобиля с водителем на свадьбу во Владимире недорого">
<meta name="description" content="Прокат автомобилей на свадьбу с водителем во Владимире. У нас вы можете взять в аренду автомобили на свадьбу с водителем любого класса по низким ценам.">
{% endblock %}