{% extends '::base.html.twig' %}

{% block title %}
<title>Как взять автомобиль напрокат во Владимире</title>
{% endblock %}

{% block meta %}
<meta name="keywords" content="Как взять автомобиль напрокат во Владимире, условия аренды автомобилей">
<meta name="description" content="Как взять автомобиль напрокат? Условия аренды автомобилей у нас.">
{% endblock %}

{% block middle_bar %}
    <h1>Как взять у нас автомобиль напрокат</h1>
    <h2>Условия проката автомобиля</h2>
    <table class="conditions" cellspacing="0">
        <tbody>
            <tr>
                <td>Возраст</td>
                <td>От 21 года</td>
            </tr>
            <tr>
                <td>Водительский стаж</td>
                <td>От 2 лет</td>
            </tr>
			<!--            
			<tr>
                <td>Минимальный срок аренды автомобиля</td>
                <td>1 сутки</td>
            </tr>
			-->
            <tr>
                <td>Ограничение пробега</td>
                <td>Не более 300 км в сутки</td>
            </tr>
        </tbody>
    </table>
    <h2>Необходимые документы</h2>
    <table class="conditions" cellspacing="0">
        <tbody>
        <tr>
            <td>Общегражданский паспорт - для граждан РФ</td>
        </tr>
        <tr>
            <td>Национальный паспорт - для иностранных граждан РФ</td>
        </tr>
        <tr>
            <td>Для иностранных граждан - миграционная карта или въездная виза</td>
        </tr>
        <tr>
            <td>Водительское удостоверение</td>
        </tr>
        </tbody>
    </table>
    <p class="body_text">
        Оплата <a href="{{ path('public_index') }}">проката автомобиля</a> производится вперед за весь период аренды в полном объёме.
        В стоимость входит полное страхование (КАСКО, ОСАГО) и техническое обслуживание автомобиля. Не входит ГСМ, оплата штрафов
        и прочих дополнительных расходов.</p>
    <p class="body_text">
        Вы получаете чистый, полностью заправленный автомобиль напрокат. В таком же виде вы обязаны сдать машину обратно.
        В нашей компании мы подходим к каждому клиенту индивидуально и все условия проката могут оговариваться отдельно.
        Поэтому арендовать у нас автомобиль может практически любой.
    </p>
{% endblock %}
