{% extends '::base.html.twig' %}

{% block title %}
<title>Траснфер в аэропорт из Владимира</title>
{% endblock %}

{% block meta %}
<meta name="keywords" content="трансфер, аэропорт, владимир, москва, пассажирские перевозки">
<meta name="description" content="Трансфер из Владимира в аэропорты Москвы, пассажирские перевозки Владимир Москва, групповой и индивидуальный трансфер Владимир-Москва.">
{% endblock %}

{% block middle_bar %}
<h1>Траснфер в аэропорт из Владимира</h1>
<img class="float_right_img" src='../images/transfer_vw.jpg' alt="Трансфер в аэропорт из Владимира" title="Траснфер в аэропорт из Владимира">
<p class="body_text">Компания <a href="{{path('public_index')}}">“Авангард”</a> предлагает трансфер Владимир - Москва на автомобилях как бизнес так и эконом класса. Мы предлагаем удобный и 
вместительный транспорт, с помощью которого вы доберетесь с экономией времени и средств до любого <strong>аэропорта Москвы
 (Шереметьево, Домодедово или Внуково)</strong>.
Мы поможем вам, вашей семье или вашим деловым партнерам прибыть в <strong>аэропорт</strong> вовремя и не опоздать на рейс. “Авангард” располагает  различными автомобилями повышенной комфортности, где вы расположитесь сами и разместите ваш багаж.</p>
<img class="float_left_img" src='../images/plane.jpg' alt="Трансфер в аэропорт" title="Траснфер в аэропорт">
<p class="body_text">Вы можете <a href="{{path('public_index')}}">заказать трансфер Владимир - Москва</a> в любое время и в любом удобном для вас месте. Наши водители пунктуальны, вежливы, обходительны и, разумеется, имеют большой водительский стаж. Комфортный автомобиль в сочетании с опытным водителем сделают вашу <strong>поездку в аэропорт</strong> незабываемой. Мы готовы принять ваши заботы на себя. 
Заказать трансфер в аэропорт вы можете по <a href="{{path('public_contacts')}}">телефону либо в офисе</a>. <a href="{{path('public_cars')}}">Предлагаемые автомобили</a> представлены на нашем сайте. </p>
<p style="clear:both">
    <h3>Цена на траснфер из Владимира в аэропорты Москвы</h3>
    <ul style="list-style: none">
        <li>Трансфер Владимир - аэропорт Москва от 3000 р. (до трех человек)</li>
        <li>Трансфер Владимир - аэропорт Москва от 5000 р. (до восьми человек)</li>
    </ul>
</p>
<img src='../images/airbus.webp' alt="Трансфер в аэропорт" title="Траснфер в аэропорт">
{% endblock %}
