{% extends '::base.html.twig' %}

{% block title %}
<title>Траснфер в аэропорт во Владимире</title>
{% endblock %}

{% block meta %}
<meta name="keywords" content="пассажирские перевозки во владимире, трансфер владимир москва">
<meta name="description" content="Мы предлогаем пассажирские перевозки во владимире на комфортабельных легковых
                                    автомобилях и микроавтобусах. Так же возможет групповой и личный трансфер до
                                    аэропортов Москвы.">
{% endblock %}

{% block middle_bar %}
<h1>Траснфер в аэропорт</h1>
<img class="float_right_img" src='../images/transfer_vw.jpg' alt="Трансфер в аэропорт" title="Траснфер в аэропорт">
<p class="body_text">Аренда автомобилей во Владимире <a href="{{path('public_index')}}">“Авангард”</a> предлагает широкий ряд <strong>автомобилей для трансфера</strong>. Мы предлагаем удобный и 
вместительный транспорт, с помощью которого вы сможете с экономией времени и средств добраться до любого московского <strong>аэропорта
 (Шереметьево, Домодедово или Внуково)</strong>.
Мы поможем вам, вашей семье или вашим деловым партнерам прибыть в <strong>аэропорт</strong> вовремя и не опоздать на рейс. “Авангард” располагает  различными автомобилями повышенной комфортности, где вы можете расположиться сами и разместить ваш багаж.</p>
<img class="float_left_img" src='../images/plane.jpg' alt="Трансфер в аэропорт" title="Траснфер в аэропорт">
<p class="body_text">Вы можете <a href="{{path('public_index')}}">заказать автомобиль для трансфера</a> в любое время и в любом удобном для вас месте. Наши водители пунктуальны, вежливы, обходительны и, разумеется, имеют большой водительский стаж. Комфортный автомобиль в сочетании с опытным водителем сделают вашу <strong>поездку в аэропорт</strong> незабываемой. Мы готовы принять ваши заботы на себя. 
Заказать трансфер в аэропорт вы можете по <a href="{{path('public_contacts')}}">телефону либо в офисе</a>. С <a href="{{path('public_cars')}}">предлагаемыми автомобилями</a> вы можете ознакомиться на нашем сайте. </p>
<img src='../images/airbus.webp' alt="Трансфер в аэропорт" title="Траснфер в аэропорт">
{% endblock %}
